body {
    background-image: url(../img/top-fade_trans.png);
    background-repeat: repeat-x;
    background-position: top center;
    padding-bottom: 50px;
    min-width: 960px;
}

.message {
    color: @gray;
    font-family: @fancyHeadingsFontFamily;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}


#header {
    position: relative;
    height: 175px;

    .wrap {
        .grid-container;
        position: relative;
        padding: 10px 0 6px 0;
        text-align: center;

        .logotype {
            padding-bottom: 4px;
        }

        .main-menu {
            display: inline-block; 
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5px;
            margin-bottom: 0.5em;
            .divider {
                height: 45px;
                width: 1px;
                border-right: solid 1px @grayLighter;
                display: inline-block;
                padding-left: 0.5em;
                padding-right: 0.5em;
                background: none;
                vertical-align: middle;
            }

            ul{
                .active{
                    a{
                        color: @hicolor;
                        .transition(.2s ease-in-out color);
                    }
                    .default {
                        //visibility: hidden;
                        .opacity(0);
                    }
                    .top {
                        //visibility: visible;
                        .opacity(100);
                    }
                    .bottom {
                        //visibility: hidden;
                        .opacity(0);
                    }
                }

                .hovered{
                    a{
                        color: #000000;
                        .transition(.2s ease-in-out color);
                    }
                    .default {
                        //visibility: hidden;
                        .opacity(0);
                    }
                    .bottom {
                        //visibility: visible;
                        .opacity(100);
                    }
                    .top{
                        .opacity(0);
                    }
                }

                li{

                    .menu-item-logo {
                      display:inline-block;
                      vertical-align: middle;
                      position:relative;
                      height:44px;
                      width:44px;
                      margin:0 auto;

                        img {
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }

                    }
                    .default{
                        //visibility: visible;
                        .opacity(100);
                    }
                    .top{
                        //visibility: hidden;
                        .opacity(0);
                    }
                    .bottom{
                        //visibility: hidden;
                        .opacity(0);
                    }
                    &:hover{
                        .hovered
                    }


                    a{
                        .message;
                        letter-spacing: 0px;
                        .inline-block;
                    }
                    float: left;
                    margin: 0 0.5em;
                    &:last-child{
                        .divider{
                            border:none;
                        }
                    }
                }

                .about-submenu{
                    ul{
                        .divider {
                            position: relative;
                            z-index: 0;
                            width: 100%;
                            height: 38px;
                            background: url(../img/menu-divider.png) no-repeat;
                            background-position: bottom center;
                            margin: 0 auto;
                        }
                        @drop-shadow: -4px 3px 8px lighten(@grayLight, 10%);
                        box-shadow: @drop-shadow;
                        -webkit-box-shadow:  @drop-shadow;
                        -moz-box-shadow: @drop-shadow;
                        height: 0px;
                        .transition(0s);
                        position: absolute;
                        list-style: none;
                        margin-top: 20px;
                        min-width: 320px;
                        margin-left: -14px;
                        border-left: 1px solid @grayLighter;
                        border-right: 1px solid @grayLighter;
                        text-align: left;
                        li{
                            position: relative;
                            z-index: 50;
                            .under {
                                display: inline-block;
                                position: absolute;
                                left: 10px;
                                visibility: hidden;
                            }
                            .over{
                                display: inline-block;
                                visibility: visible;
                            }
                            .current{
                                position: absolute;
                                display: inline-block;
                                visibility: hidden;
                                left: 10px;
                                color: @hicolor;
                            }
                            &:hover{
                                color: @black;
                                .under {
                                    visibility: visible;
                                }
                                .over{
                                    visibility: hidden;
                                }
                            }
                            float: none;
                            padding: 12px 0 12px 10px;
                            border-bottom: solid 1px @grayLighter;
                            a{
                                color: gray;
                            }
                            &:nth-child(2) {
                                margin-top: -38px;
                            }
                            &:last-child {
                                border-bottom: none;
                            }
                        }
                        .active{
                            a{
                                color: @hicolor;
                                }
                            .current{
                                position: absolute;
                                display: inline-block;
                                visibility: visible;
                                left: 10px;
                            }
                            .over{
                                display: inline-block;
                                visibility: hidden;
                            }
                            &:hover{
                                .under {
                                    visibility: visible;
                                }
                                .current{
                                    visibility: hidden;
                                }
                            }

                    }
                    }
                    .ul-about{overflow: hidden;}
                    .about-submenu-hover{
                        overflow: hidden;
                        .transition(0.4s ease-in-out height);
                        height: 245px;
                        border-bottom: 1px solid @grayLighter;
                        z-index: 30;
                        background: white;
                        .bottom{visibility: visible;}
                        li{
                            &:hover a{
                                color: @black;
                            }
                        }
                    }
                }
            }
        }
    }
    #logo {
        width: 205px;
        height: 92px;
        margin: 0 auto;
        background: url(../img/logo_trans.png) no-repeat;
        text-indent: -99999px;
        overflow: hidden;
    }
    .divider {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 42px;
        background: url(../img/menu-divider.png) no-repeat;
        background-position: bottom center;
        margin: 0 auto;
    }
}

#homepage {
    #header .wrap .main-menu ul li.hovered {
        a {
            color: @hicolor;
        }
        .bottom {
            visibility: hidden;
        }
        .top {
            visibility: visible;
            .opacity(100);
        }
    }
}

#content {
    position: relative;
    min-height: 300px;

    #main{
        min-height: 446px;
        .top{
            position: relative;
            with: 430px;
            height: 482;
            z-index: 0;
        }

         .image-gallery{
            height: auto;
            text-align: center;
            margin: 10px 0px -10px 0px;
            position: relative;
            z-index: 0;
            .nav{
                top: 0px;
            }
        }
    }

}

#footer {
    .grid-container;
    position: relative;
    padding-top: 15px;

    ul.bullets {
        margin: 0;
        padding: 0;
        list-style: none;
        .clearfix;

        li {
            font-family: @fancyHeadingsFontFamily;
            font-size: 15px;
            text-transform: uppercase;
            line-height: 20px;
            margin-right: 13px;
            padding-left: 16px;
            background-size: 17px;
            background-image: url(../img/red_arrow_big.png);
            background-repeat: no-repeat;
            background-position: -3px 0;
            float: left;

            span {
                .standout;
            }
        }
    }
    .divider {
        position: absolute;
        height: 45px;
        width: 1px;
        border-right: solid 1px @grayLighter;
        right: 345px;
        top: 10px;
    }
    .copy {
        color: @gray;
        font-size: 9px;
        font-weight: bold;

        .div {
            padding: 0 3px 0 4px;
        }

        a {
            color: @gray;
        }
    }
    .message {
        color: @gray;
        font-family: @fancyHeadingsFontFamily;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
        a {
            color: @gray;
        }
    }

    .row >div {
        position: relative;
    }

    #clio {
        z-index: 25;
        position: absolute;
        right: 0;
        bottom: -16px;
    }
}

.page {
    .grid-container;
}


#landing-page {
    .grid-container;

    position: relative;
    .plain-divider{
        border-top: solid 1px @grayLight;
        margin-top: 10px;
    }
    #secondary-divider{
        width: 100%;
        height: 15px;
        position: relative;
        top: 4px;
        background: url(../img/menu-divider-inverted.png) no-repeat;
        background-position: bottom center;

    }

    .main-content {
        #image-gallery{
            margin-top: 35px;
        }
        .span5{
            padding-top: 30px;
        }
        .span8{
            padding-top: 15px;
        }
        h1.headline {
            margin-left: 20px;
            overflow: visible;
            font-family: @sansFontFamily;
            font-size: 9px;
            font-weight: bold;
            margin-top: 9px;
            letter-spacing: 0px;
            text-transform: none;
        }

    h5{
        font-size: 13px;
        letter-spacing: 1px;
    }


        #essentials-heading{
            padding-top: 10px;
            padding-bottom: 11px;
            font-size: 13px;
            color: @hicolor;

            img{
                position: relative;
                bottom: 3px;
                margin-right:5px;
            }
        }

        .essential-item{
           display: inline-table;
           margin: 0px 30px; 
           margin-left: 0px;
           width: 278px;
           height: 226px;

           .divider{
                width: 247px;
                height: 1px;
                background: @grayLight;
           }
            h3{
                padding-top: 10px;
                font-size: 30px;
                line-height: 30px;
            }

           .essential-counter{
                text-align: right;
                float: right;
                border: 1px solid @grayLight;
                border-top: none;
                border-right: none;
                width:30px;
                height:30px;
                vertical-align: top;
                .border-radius(0px 0px 0px 30px);
                span{
                    line-height: 14px;
                    font-size: 14px;
                    vertical-align: top;
                    font-weight:bold;
                    color: @hicolor;
                }
           }
        }

        #content-about{
            .about-title{
                font-family: @sansFontFamily;
                font-size: 18px;
                font-weight: bold;
                text-transform: none;
                letter-spacing: 0px;
                line-height: 22px;
                margin: -2px 0px -2px 0px;
                color: @black;

            }
            .essentials{
                img{
                    position: relative;
                    bottom: 2px;
                }
                margin: -1px 0px 9px 0px;
            }
            border-right: solid 1px @grayLighter;
            #design-office{
                width:  97%;
                img{
                    position: relative;
                    bottom: 1px;
                }
                h5{
                    margin-top: -5px;
                    margin-bottom: 1px;
                }
                #design-office-title{
                    width: 50%;
                    position: relative;
                    margin-top: 3px;
                }
                .design-office-divider-top{
                    width: 90%;
                    height: 1px;
                    background: @grayLight;
                    margin: 9px 0px 8px 0px;
                }
                .design-office-image{
                    float: right;
                    position: absolute;
                }
                .design-office-text{
                    position: relative;
                }
            }
            #selected-clients{
                width:  97%;
                img{
                    margin-bottom: 4px;
                    position: relative;
                    bottom: 3px;
                }
                .selected-clients-divider-top{
                    width: 100%;
                    height: 1px;
                    background: @grayLight;
                    margin: 8px 0px 8px 0px;
                }
                .selected-clients-divider-images{
                    width: 100%;
                    height: 1px;
                    background: @grayLight;
                    margin: 13px 0px;
                }
                #selected-clients-col1{
                    width: 50%;
                    float: left;
                }
                #selected-clients-col2{
                    width: 50%;
                    float: left;
                }
            }
            #cee{
                width:  97%;
                margin-bottom: -1px;
                img{
                    margin-bottom: 15px;
                    position: relative;
                    top: 3px;
                }
                .cee-divider{
                    width: 100%;
                    height: 1px;
                    background: @grayLight;
                    margin: -1px 0px 13px 0px;
                }
                #cee-title{
                    h5{
                        margin-top: -8px;
                        margin-bottom: 3px;
                    }
                }
            }

            #info_links{
                float: left;
                width: 97%;
                margin-left: 0px;
                .active{
                    display: none;
                }
                .border{
                    border-right: 1px solid @grayLight;
                }

                a{
                    color: @black;
                    vertical-align: middle;
                }
                padding-top: 10px;
                font-size: 11px;
                font-family: @fancyHeadingsFontFamily;
                text-transform: uppercase;
                .no-padding-right{
                    padding-right: 0px;
                }
                .link-hover{
                    margin-right: 7px;
                    padding-right: 7px;
                    position: relative;
                    cursor: pointer;
                    float: left;
                    .bottom {
                        display: inline-block;
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        visibility: hidden;
                    }
                    .top{
                        display: inline-block;
                    }
                    &:hover{
                        a{
                        color: #EE332C;
                        }
                        .bottom {
                            visibility: visible;
                        }
                        .top{
                            visibility: hidden;
                        }
                    }
                }

                .design-link{
                    border-right: 1px solid @grayLight;
                    .link-hover
                }
                .clients-link{
                    border-right: 1px solid @grayLight;
                    .link-hover
                }
                .cee-link{
                    .link-hover;
                    .no-padding-right
                }
                .essentials-link{
                    .link-hover

                }



                .divider{
                    height: 45px;
                    width: 1px;
                    border-right: solid 1px #E5E5E5;
                    display: inline-block;
                    background: none;
                    vertical-align: middle;
                    float: right;
                }
                .divider-top{
                    width: 100%;
                    height: 1px;
                    background: @grayLight;
                    margin: 13px 0px;
                }
            }

        }

        #awards-block{
            margin-bottom: 13px;
            padding-left: 15px;
            margin-left: -1px;
            font-size: 12px;
            border-left: solid 1px @grayLighter;

            #awards-heading{
                margin-top: 14px;
                font-size: 18px;
                font-weight: bold;
                margin-bottom: -4px;

                img{
                    position: relative;
                    bottom: 3px;
                    margin-right:5px;
                }
            }

            p{
                margin: 0px;
            }

            .divider{
                width: 100%;
                height: 1px;
                background: @grayLight;
                margin: 13px 0px;
            }
            .heading{
                color: @hicolor;
            }
        }

        #testimonial-block{
            margin-top: 5px;
            margin-bottom: 13px;
            padding-left: 15px;
            margin-left: -1px;
            border-left: solid 1px @grayLighter;


            font-size: 12px;
            #testimonial-top{
                min-height: 80px;
            }
            #testimonial-heading{
                padding-bottom: 2px;
                padding-right: 10px;
                margin-left: 10px;
                margin-top: 20px;
                font-size: 18px;
                font-weight: bold;
                width: 60%;
                float: left;
                line-height: 22px;
                border-right: 1px solid @grayLighter;
            }
            #my_client_say_button{
                padding-bottom: 10px;
                margin-top: 26px;
                float: left;
                cursor: pointer;
                position: relative;
                margin-left: 30px;
                width: 36px;
                .bottom {
                    display: inline-block;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    visibility: hidden;
                }
                .top{
                    display: inline-block;
                }
                &:hover{
                    color: @black;
                    .bottom {
                        visibility: visible;
                    }
                    .top{
                        visibility: hidden;
                    }
                }

            }
            p{
                margin: 0px;
            }

            .divider{
                width: 100%;
                height: 1px;
                background: @grayLight;
                margin-bottom: 5px ;
            }
            .heading{
                color: @hicolor;
            }

            #my_client_say_container{
                padding-top: 10px;
                margin-left: 10px;
                position: relative;
                #testimonial-person{
                    margin-top: 10px;
                    color: darken(@grayLight, 10%);
                    line-height: 14px;
                }
                #testimonial-company{
                    color: @hicolor;
                    line-height: 14px;
                }
                #testimonial-quote{
                    color: darken(@grayLight, 60%);
                }
            }
        }

        #content-contacts{
            border-right: solid 1px @grayLighter;

            #contacts-top{
                padding-top: 15px;
            }
            #contacts-image{
                float: left;
                margin-right: 20px;
            }
            .text{
                width: 45%;
                float: left;
                .contacts-title-top{
                    color: @hicolor;
                    font-weight: bold;
                }
            }

            #contacts-bottom{
                .divider{
                    width: 100%;
                    height: 1px;
                    background: @grayLight;
                }
                margin-right: -20px;
                margin-top: 20px;
                float: left;
                width: 97%;
            }
        }

    .content-title{
        color: @hicolor;
        font-family: @fancyHeadingsFontFamily;
        font-weight: normal;
        text-transform: uppercase;
    }
    .content-title2{
        margin-top: 20px;
    }
    .title-arrow{
        vertical-align: bottom;
    }


    #content-submenu-block{
        min-height: 430px;
        padding-top: 30px;

    }

    #content_changes{
        min-height: 180px;
    }
    .content-changing{

        #empty-submenu-divider{
            height: 15px;
        }
        margin-top: 10px;

        .explore{
            .message;
            color: black;
            font-weight: bold;
            border-bottom: 1px solid @grayLight;
            margin-bottom: 0px;
            padding-bottom: 5px;
        }
        .submenu-item {

            position: relative;

            .overline{
                padding-bottom: 3px;
            }
            &:first-child {
                .overline{
                    //visibility: hidden;
                    .opacity(0);
                }
            }

            hr{
                margin: 1px;
                //visibility: hidden;
                .opacity(0);
            }
            .headline{
                margin-bottom: 5px;
                font-size: 12px;
            }
        }
        .active{
            a{color: @hicolor;
              font-size: 21px;
            }
        }

        .noactive{
            a{color: grey;
                font-size: 21px;
            }
            &:hover{
                a{color: @black;
                }
                .headline{
                    color: grey;
                }
            }
        }

    }

        .hovered{
            .headline{
                .transition(0.2s ease-in-out height);
                height: 15px;
                display: block;
            }
                &.submenu-item{
                    hr{
                        .opacity(100);
                    }
                }
        }
        .headline{
            .transition(0.2s ease-in-out height);
            height: 0px;
            overflow: hidden;
            display: block;
        }

    }
    .secondary-content {
        position: relative;
        display: table;
        padding-bottom: 30px;
        border-bottom: solid 1px @grayLight;

        .contact {
            display: table-cell;
            width: 50%;
            padding-right: 15px;
            padding-top: 15px;
            border-right: solid 1px @grayLight;
            img {
                float: left;
            }
            h3 {
                text-decoration: uppercase;
            }
            .text.with-image {
                margin-left: 160px;
            }
        }
        .message {
            font-family: inherit;
            text-transform: none;
            font-size: inherit;
            letter-spacing: 0px;
            color: inherit;
            display: table-cell;
            width: 50%;
            padding-left: 15px;
            padding-top: 15px;
            padding-right:50px;
        }
        .divider {
            width: 1px;
            height: 100%;
            background: @hicolor;
            border-right: solid 1px @gray;
        }
        p {
            line-height: 16px;
        }
        .content-title3{
            font-size: 19.4px;
            color: @hicolor;
            font-family: @fancyHeadingsFontFamily;
            font-weight: normal;
            text-transform: uppercase;
            background-size: 22px;
            background-image: url(../img/red_arrow_big.png);
            background-repeat: no-repeat;
            background-position: -3px;
            padding-left: 20px;
        }

        #contact-form {
            padding: 10px 0 0 0;
            clear: both;
            margin: 0 -4px;
            .control-group {
                .inline-block;
                margin-bottom: 8px;
            }
            input, textarea {
                width: 214px;
                margin: 0 4px;
                padding: 3px;
            }
            .field-name {
                input {
                    width: 444px;
                }
            }
            textarea {
                display: block;
                width: 444px;
                height: @baseLineHeight * 3;
            }
            .btn {
                float: right;
                margin-right: 5px;
            }
        }
    }
}

    .image-gallery {
        position: relative;
        height: 430px;
        cursor: pointer;
        margin-bottom: 20px;

        img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            .opacity(100);
            .transition(.6s ease-in-out opacity);

            &.transparent{
                .opacity(0);
            }
        }

        .nav {
            position: absolute;
            top: -30px;
            right: 8px;
            z-index: 29;

            .item {
                .inline-block;
                position: relative;
                width: 18px;
                height: 25px;
                margin-right: 1px;
                cursor: pointer;

                > span {
                    display: block;
                    width: 8px;
                    height: 8px;
                    .border-radius(4px);
                    background: @gray;
                    position: absolute;
                    top: (25px - 8) /2;
                    left: (20px - 8) /2;
                }

                &.active {
                    > span {
                        background: #000;
                    }
                }
            }
        }
        .image-caption{
            font-size: 11px;
            position: relative;
            text-align: right;
            color: @gray;
            margin-top: 5px;
            visibility: hidden;
            display: none;

            &.active{
                display: block;
                visibility: visible;
            }
        }
    }

#landing-footer {
    margin-top: -1px;
    background-image: url(../img/texture2.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    .box-shadow-inset(0 8px 10px -10px rgba(0,0,0,.55));
    border-bottom: solid 1px @grayLight;
    margin-bottom: -1px;
    padding-bottom: 15px;

    .wrap {
        .grid-container;
        display: table;
    }

    .module {
        display: table-cell;
        width: 313.33px;
        border-right: solid 1px @grayLighter;
        padding: 15px 20px 0 20px;
        line-height: 14px;
        font-size: 12px;

        p {
            font-size: 12px;
        }

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            border: none;
        }
    }
}

#pass-through {
    position: absolute;
    z-index: 0;

    a {
        display: block;
        img{
            max-width: none;
        }

        &#main_img {
            &.hidden {
                .opacity(0);
            }
        }

        &.overlay-link {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            display: none;
            &.active {
                z-index: 1;
                display: block;
            }
        }
    }
    a.overlay {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        cursor: pointer;
    }
}

/* Site Map Page */
#site-map {
    table {
        margin: 50px 0;
        min-width: 700px;

        td {
            width: 0;
            vertical-align: top;
            padding-right: 40px;
        }
        a {
            color: #000;
            &:hover {
                color: @hicolor;
            }
        }
        h4 {
            font-size: @baseFontSize;
            margin-top: 30px;
            color: @hicolor;
            &:first-child {
                margin-top: 0;
            }
        }
        .second-title{
            margin-top: 10px;
        }
        ul {
            margin-left: 1em;
        }
    }

}
    .non-border{
        border: none!important;
    }

#secondary-divider{
    width: 100%;
    height: 15px;
    position: relative;
    top: 4px;
    background: url(../img/menu-divider-inverted.png) no-repeat;
    background-position: bottom center;

}
#secondary-divider-index{
    z-index: 1;
    margin-top: -15px;
    width: 100%;
    height: 15px;
    position: relative;
    top: 4px;
    background: url(../img/menu-divider-inverted.png) no-repeat;
    background-position: bottom center;

}

#secondary-divider-plain{
    border-top: solid 1px @grayLight;
}

.links-list{
    float:left;
}
