{% load thumbnail %}

<script type="text/javascript">
    $(function() {
        var imagegallery = new ImageGallery();
    });
</script>

{% for image in page.images.published %}
{% thumbnail image.filename "540x430" as thumb %}
<img src="{{thumb.url}}" width="{{thumb.width}}" height="{{thumb.height}}" {% if forloop.first %}class="active"{% endif %} alt="{{image.alt_text}}"/>
{% endthumbnail %}
{% endfor %}
{% for image in page.images.published %}
<div class="image-caption">{{ image.caption|safe }}</div>
{% endfor %}
<div class="nav"></div>