{% extends "base.html" %}
{% load url from future %}
{% load thumbnail generic_markup compress %}
{% load activelink %}

{% block title %}Home | {{block.super}}{% endblock %}

{% block meta-description %}{{page.meta_description|default:block.super}}{% endblock %}
{% block meta-keywords %}{{page.meta_keywords|default:block.super}}{% endblock %}

{% block scripts %}
{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}js/imagegallery.js" type="text/javascript"></script>
{% endcompress %}
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(function() {
    var imagegallery = new ImageGallery();

    imagegallery.showMenuItem = function(el){
        $(".main-menu ul li").removeClass('active');
        $($(".main-menu ul li")[el.index()]).toggleClass('active')
    };

    $(".main-menu ul li").hover(
    function(){
        imagegallery.stop();
        imagegallery.show($(this).index());

        $(".main-menu ul li").removeClass('active');
        $(this).addClass('hovered');

        var url =$($(this).find("a")[0]).data('passthrough');
        $("#main .top").load(url,
                function(){
                    $("#main .top").fadeIn();
                    $("#image-gallery").fadeOut()
                });
        imagegallery.pause()
    }, function(){
                $(this).removeClass('hovered');
                $(this).addClass('active');
            })
});
</script>
{% endblock %}

{% block bodyid %}homepage{% endblock %}

{% block main_menu %}
    {% for item in root_menuitems %}
    {% if item.object.show_on_main %}
    <li class="{% if forloop.first %}active{% endif %}" {% if item.object.slug %} data-passthrough="{% url 'passthrough_text' item.object.slug %}"{% endif %} >
        <a href="{% if item.object.link %}{{ item.object.link }}{% endif %}" {% if item.object.slug %} data-passthrough="{% url 'passthrough_text' item.object.slug %}"{% endif %}>
        <div class="menu-item-logo">
            <img class="default" src="{% if item.object.menu_image_default %}{{item.object.menu_image_default.filename.url}}{% endif %}" width="44px" height="44px"/>
            <img class="bottom" src="{% if item.object.menu_image_hover %}{{item.object.menu_image_hover.filename.url}}{% endif %}" width="44px" height="44px"/>
            <img class="top" src="{% if item.object.menu_image_active %}{{item.object.menu_image_active.filename.url }}{% endif %}" width="44px" height="44px" />
        </div>
        {{ item }}</a>
        <div class="divider"></div>
        <link rel="prefetch preferender" href="{% url 'passthrough_text' item.object.slug %}">
    </li>
    {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
<div id="main" class="page">
    <div class="top"></div>
    <!-- Image Gallery -->
    <div id="image-gallery" class="image-gallery">
        {% for item in root_menuitems %}
        {% if item.object.show_on_main %}
        {% if item.object.background_image.filename %}

        <img {% if item.object.slug %} data-passthrough="{% url 'passthrough_text' item.object.slug %}"{% endif %} src="{{item.object.background_image.filename.url}}" {% if forloop.first %}class="active" style="z-index:10;"{% endif %} alt="{{image.alt_text}}"/>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block plain_divider %}<div id="secondary-divider-index" class="divider"></div>{% endblock %}
