{% extends "base.html" %}
{% load url from future %}

{% block title %}Site map | {{block.super}}{% endblock %}

{% block content %}
<div id="site-map" class="container">
<table class="unstyled">
    <tr>
        <td>
            <h4>Info Pages</h4>
            <ul>
                {% for landingpage in landing_pages %}
                <li><a href="{{landingpage.get_absolute_url}}">{% if landingpage.sitemap_title %} {{ landingpage.sitemap_title }} {% else %} {{ landingpage.title }} {% endif %}</a></li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <h4>Home & Portfolio</h4>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% for item in root_menuitems %}
                    {% if item.object.slug != 'about' and item.object.slug != 'contact'  %}
                        {% for children in item.get_children %}
                            <li><a href="{{children.get_absolute_url}}">{% if children.object.sitemap_title %} {{ children.object.sitemap_title }} {% else %} {{ children.title }} {% endif %}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </td>
        <td>
            <h4>About, Honors & Awards</h4>
            <ul>
                {% for item in root_menuitems %}
                    {% if item.object.slug == 'about' %}
                    {% for children in item.get_children %}
                    <li><a href="{{children.get_absolute_url}}">{% if children.object.sitemap_title %} {{ children.object.sitemap_title }} {% else %} {{ children.title }} {% endif %}</a></li>
                    {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
            <h4 class="second-title">Contact & Testimonials</h4>
            <ul>
                {% for item in root_menuitems %}
                    {% if item.object.slug == 'contact' %}
                    {% for children in item.get_children %}
                    <li><a href="{{children.get_absolute_url}}">{% if children.object.sitemap_title %} {{ children.object.sitemap_title }} {% else %} {{ children.title }} {% endif %}</a></li>
                    {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
</div>
{% endblock %}
{% block plain_divider %}<div id="secondary-divider" class="divider"></div>{% endblock %}
