        <div class="span4" id="awards-block">
            <p id="awards-heading"><img src="{% if page.category.awardimage.award_title_image %} {{ page.category.awardimage.award_title_image.filename.url }} {% else %}{{ STATIC_URL }}img/honors-r.png{% endif %}" style="width:36px;height:36px" alt="Honors &amp;  Awards" />Honors &amp;  Awards</p>
            {% for award in awards %}
            <div class="divider"></div>
            <div class="award_item">
                <p class="heading">{{ award.title }}</p>
                <p class="body">{{ award.text|safe }}</p>
            </div>
            {% endfor %}
        </div>
