article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
}
.container-fluid:after {
  clear: both;
}
body {
  margin: 0;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
}
a {
  color: #ee332c;
  text-decoration: none;
}
a:hover {
  color: #be160f;
  text-decoration: underline;
}
p {
  margin: 0 0 9px;
}
p small {
  font-size: 11px;
  color: #cbcaca;
}
.lead {
  margin-bottom: 18px;
  font-size: 20px;
  font-weight: 200;
  line-height: 27px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #cbcaca;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h1 small {
  font-size: 18px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h2 small {
  font-size: 18px;
}
h3 {
  font-size: 18px;
  line-height: 27px;
}
h3 small {
  font-size: 14px;
}
h4,
h5,
h6 {
  line-height: 18px;
}
h4 {
  font-size: 14px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
  color: #cbcaca;
  text-transform: uppercase;
}
.page-header {
  padding-bottom: 17px;
  margin: 18px 0;
  border-bottom: 1px solid #e5e5e5;
}
.page-header h1 {
  line-height: 1;
}
ul,
ol {
  padding: 0;
  margin: 0 0 9px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: 18px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
dl {
  margin-bottom: 18px;
}
dt,
dd {
  line-height: 18px;
}
dt {
  font-weight: bold;
  line-height: 17px;
}
dd {
  margin-left: 9px;
}
.dl-horizontal dt {
  float: left;
  width: 120px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 130px;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.muted {
  color: #cbcaca;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #cbcaca;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 18px;
  border-left: 5px solid #e5e5e5;
}
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.5px;
}
blockquote small {
  display: block;
  line-height: 18px;
  color: #cbcaca;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #e5e5e5;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 18px;
  font-style: normal;
  line-height: 18px;
}
small {
  font-size: 100%;
}
cite {
  font-style: normal;
}
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: 20px;
}
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}
.row-fluid .span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}
.row-fluid .span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}
.row-fluid .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}
.row-fluid .span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}
.row-fluid .span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}
.row-fluid .span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}
.row-fluid .span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}
.row-fluid .span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}
.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}
.row-fluid .span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}
.row-fluid .span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.grid-container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
  width: 940px;
}
.grid-container:before,
.grid-container:after {
  display: table;
  content: "";
}
.grid-container:after {
  clear: both;
}
.inline-block {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
.shadow-hr {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 -3px 4px -1px rgba(0, 0, 0, 0.35) inset;
  -moz-box-shadow: 0 -3px 4px -1px rgba(0, 0, 0, 0.35) inset;
  box-shadow: 0 -3px 4px -1px rgba(0, 0, 0, 0.35) inset;
  height: 10px;
  border: none;
}
/* Fonts */
/*@font-face {
    font-family: 'FuturaHeavy';
    src: url('../fonts/futuraheavy-webfont.eot');
    src: url('../fonts/futuraheavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuraheavy-webfont.woff') format('woff'),
         url('../fonts/futuraheavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
  font-family: 'FuturaMedium';
  src: url('../fonts/futura_t_medium-webfont.eot');
  src: url('../fonts/futura_t_medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/futura_t_medium-webfont.woff') format('woff'), url('../fonts/futura_t_medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gothambook-webfont.eot');
  src: url('../fonts/gothambook-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gothambook-webfont.woff') format('woff'), url('../fonts/gothambook-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gothambookital-webfont.eot');
  src: url('../fonts/gothambookital-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gothambookital-webfont.woff') format('woff'), url('../fonts/gothambookital-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gothammedium-webfont.eot');
  src: url('../fonts/gothammedium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gothammedium-webfont.woff') format('woff'), url('../fonts/gothammedium-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'gotham_htf';
  src: url('../fonts/gothammediumitalic-webfont.eot');
  src: url('../fonts/gothammediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/gothammediumitalic-webfont.woff') format('woff'), url('../fonts/gothammediumitalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
/* Mixins */
.standout {
  color: #ee332c;
}
.quiet {
  color: #808080;
}
.small {
  font-size: 12px;
  line-height: 14px;
}
.fancy {
  font-family: FuturaMedium, Helvetica, Arial, sans-serif;
}
.red-arrow {
    font-size: 13px;
    background-size: 17px;
    background-image: url(../img/red_arrow_big.png);
    background-repeat: no-repeat;
    background-position: -3px -1px;
    padding-left: 20px;
}
.black-arrow {
    font-size: 13px;
    background-size: 20px;
    background-image: url(../img/black_arrow_big.png);
    background-repeat: no-repeat;
    background-position: -3px -1px;
    padding-left: 17px;
}
/* Typography */
h1,
h2 {
  line-height: 26px;
  margin-bottom: 5px;
}
h1,
h2 {
  font-family: FuturaMedium, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}
h3,
h4,
h5,
h6 {
  line-height: 20px;
  margin-bottom: 8px;
}
h1.headline {
  font-weight: normal;
  color: #808080;
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 2px;
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 20px;
}
h2.standout {
  background: url(../img/large_red_dot.png) no-repeat;
  background-position: 1px 2px;
  text-indent: 30px;
}
h3.standout {
  font-family: FuturaMedium, Helvetica, Arial, sans-serif;
  font-size: 19.4px;
  font-weight: normal;
  text-transform: uppercase;
  background: url(../img/small_red_dot.png) no-repeat;
  background-position: 1px 0px;
  text-indent: 28px;
}
h4 {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
ul.fancy-list {
  list-style: none;
  padding: 0;
  margin-left: 0;
}
ul.fancy-list li {
  padding-left: 1em;
  text-indent: -0.9em;
}
ul.fancy-list li:before {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  content: " ";
  width: 15px;
  height: 14px;
  background-image: url(../img/black_arrow.png);
  background-position: -4px -3px;
  margin-bottom: -3px;
}
ul.fancy-list li.standout:before {
  background-image: url(../img/red_arrow.png);
}
ul.fancy-list li a {
  text-decoration: none;
  background: #fff;
}
ul.fancy-list li a:hover {
  color: #808080;
  margin-left: -15px;
}
ul.fancy-list li a:hover:before {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  position: relative;
  content: " ";
  width: 15px;
  height: 14px;
  background-color: #fff;
  background-image: url(../img/gray_arrow.png);
  background-position: -4px -3px;
  margin-bottom: -3px;
  left: -4px;
}
ul.links-list {
  margin: 0;
  padding: 10px 0 10px 6px;
  list-style: none;
  *zoom: 1;
}
ul.links-list:before,
ul.links-list:after {
  display: table;
  content: "";
}
ul.links-list:after {
  clear: both;
}
ul.links-list li {
  font-family: FuturaMedium, Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 20px;
  margin-right: 13px;
  float: left;
}
ul.links-list li a {
  background-image: url(../img/gray_arrow.png);
  background-repeat: no-repeat;
  background-position: 0 -2px;
  padding-left: 20px;
  color: #808080;
  text-decoration: none;
}
ul.links-list li a.active {
  color: #000;
  background-image: url(../img/black_arrow.png);
}
ul.links-list li a:hover {
  color: #ee332c;
  background-image: url(../img/red_arrow.png);
}
body {
  margin: 4px;
  background: #fff;
  color: #000;
}
