@import "lib/bootstrap/less/reset.less";
@import "lib/bootstrap/less/variables.less"; // Modify this for custom colors, font-sizes, etc
@import "lib/bootstrap/less/mixins.less";
@import "lib/bootstrap/less/layouts.less";
@import "lib/bootstrap/less/scaffolding.less";
@import "lib/bootstrap/less/type.less";
@import "lib/bootstrap/less/grid.less";
@import "lib/bootstrap/less/utilities.less"; // Has to be last to override when necessary

@import "mixins.less";
@import "typography.less";

body { margin: 4px; background: #fff; color: #000; }
