body {
    background-image: url(../img/top-fade_trans.png);
    background-repeat: repeat-x;
    background-position: top center;
    padding-bottom: 50px;
}

#header {
    position: relative;
    height: 120px;

    .wrap {
        .grid-container;
        position: relative;
        padding: 10px 0 6px 0;
    }
    #logo {
        width: 205px;
        height: 92px;
        margin: 0 auto;
        background: url(../img/logo_trans.png) no-repeat;
        text-indent: -99999px;
        overflow: hidden;
    }
    .divider {
        position: relative;
        z-index: 0;
        width: 1013px;
        height: 42px;
        background: url(../img/menu-divider.png) no-repeat;
        background-position: bottom center;
        margin: 0 auto;
    }
}

#content {
    position: relative;
    min-height: 300px;
}

#footer {
    .grid-container;
    position: relative;
    border-top: solid 1px @grayLight;
    padding-top: 15px;

    ul.bullets {
        margin: 0;
        padding: 0;
        list-style: none;
        .clearfix;

        li {
            font-family: @fancyHeadingsFontFamily;
            font-size: 15px;
            text-transform: uppercase;
            line-height: 20px;
            margin-right: 13px;
            padding-left: 16px;
            background-image: url(../img/red_arrow.png);
            background-repeat: no-repeat;
            background-position: -3px 0;
            float: left;

            span {
                .standout;
            }
        }
    }
    .divider {
        position: absolute;
        height: 45px;
        width: 1px;
        border-right: solid 1px @grayLighter;
        right: 345px;
        top: 10px;
    }
    .copy {
        color: @gray;
        font-size: 9px;
        font-weight: bold;

        .div {
            padding: 0 3px 0 4px;
        }

        a {
            color: @gray;
        }
    }
    .message {
        color: @gray;
        font-family: @fancyHeadingsFontFamily;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1px;
    }

    .row >div {
        position: relative;
    }

    #clio {
        position: absolute;
        right: 0;
        bottom: -16px;
    }
}

.page {
    .grid-container;
}


#landing-page {
    .grid-container;
    .main-content {
        h1.headline {
            margin-left: 430px;
        }

        h3 {
            margin-top: 20px;
        }
    }
    .secondary-content {
        position: relative;
        border-top: solid 1px @grayLight;
        display: table;
        margin-bottom: 30px;

        .contact {
            display: table-cell;
            width: 50%;
            padding-right: 15px;
            padding-top: 15px;
            border-right: solid 1px @grayLight;
            img {
                float: left;
            }
            h3 {
                text-decoration: uppercase;
            }
            .text.with-image {
                margin-left: 160px;
            }
        }
        .message {
            display: table-cell;
            width: 50%;
            padding-left: 15px;
            padding-top: 15px;
        }
        .divider {
            width: 1px;
            height: 100%;
            background: red;
            border-right: solid 1px @gray;
        }
        p {
            line-height: 16px;
        }
    }

    .image-gallery {
        position: relative;
        height: 430px;
        cursor: pointer;

        img {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            .opacity(0);
            .transition(.6s ease-in-out opacity);

            &.active {
                .opacity(100);
                z-index: 10;
                position: relative;
            }
        }

        .nav {
            position: absolute;
            top: -30px;
            right: 8px;
            z-index: 30;

            .item {
                .inline-block;
                position: relative;
                width: 18px;
                height: 25px;
                margin-right: 1px;
                cursor: pointer;

                > span {
                    display: block;
                    width: 8px;
                    height: 8px;
                    .border-radius(4px);
                    background: @gray;
                    position: absolute;
                    top: (25px - 8) /2;
                    left: (20px - 8) /2;
                }

                &.active {
                    > span {
                        background: #000;
                    }
                }
            }
        }
    }
}
#landing-footer {
    background-image: url(../img/texture2.jpg);
    background-repeat: repeat;
    background-size: 100% 100%;
    .box-shadow-inset(0 8px 10px -10px rgba(0,0,0,.55));
    border-bottom: solid 1px @grayLight;
    margin-bottom: -1px;
    padding-bottom: 15px;

    .wrap {
        .grid-container;
        display: table;
    }

    .module {
        display: table-cell;
        width: 313.33px;
        border-right: solid 1px @grayLighter;
        padding: 15px 20px 0 20px;
        line-height: 14px;
        font-size: 12px;

        p {
            font-size: 12px;
        }

        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
            border: none;
        }
    }
}

#pass-through {
    position: relative;
    min-height: 510px;

    a {
        display: block;

        &#main_img {
            &.hidden {
                .opacity(0);
            }
        }

        &.overlay-link {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            display: none;
            &.active {
                z-index: 1;
                display: block;
            }
        }
    }
    a.overlay {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        cursor: pointer;
    }
}

/* Site Map Page */
#site-map {
    table {
        margin: 50px 0;
        min-width: 700px;

        td {
            width: 0;
            vertical-align: top;
            padding-right: 40px;
        }
        a {
            color: #000;
            &:hover {
                color: @hicolor;
            }
        }
        h4 {
            font-size: @baseFontSize;
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        }
        ul {
            margin-left: 1em;
        }
    }
}
