{% extends "base.html" %}

{% block title %}{{category.passthrough_page.title}} | {{block.super}}{% endblock %}

{% block meta-description %}{{category.passthrough_page.meta_description|default:block.super}}{% endblock %}
{% block meta-keywords %}{{category.passthrough_page.meta_keywords|default:block.super}}{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(function() {
    // Hover for overlay spots
    var main_img = $('#main_img');
    $('.overlay').each(function() {
        var overlay = $(this),
            img = overlay.prev();
        overlay.hover(function() {
            img.addClass('active')
            main_img.addClass('hidden');
        }, function() {
            img.removeClass('active');
            main_img.removeClass('hidden');
        });
    });
});
</script>
  
{% endblock %}

{% block content %}
<div id="pass-through" class="page">
    <a href="http://portfolio.golinkodesign.com" id="main_img"><img src="{{category.passthrough_page.image.filename.url}}"></a>
    {% for overlay in category.passthrough_page.overlays.all %}
    <a href="http://portfolio.golinkodesign.com" class="overlay-link"><img src="{{overlay.image.filename.url}}" id="main_img" /></a>
    <a href="http://portfolio.golinkodesign.com" class="overlay" style="width:{{overlay.width}}px;height:{{overlay.height}}px;top:{{overlay.top}}px;left:{{overlay.left}}px"></a>
    {% endfor %}
</div>
{% endblock %}
