{% extends "base.html" %}
{% load thumbnail generic_markup compress %}
{% load url from future %}

{% load sitepages_tags %}
{% load mptt_tags %}
{% load activelink %}

{% block title %}{{page.title}} | {{block.super}}{% endblock %}

{% block meta-description %}{{page.meta_description|default:block.super}}{% endblock %}
{% block meta-keywords %}{{page.meta_keywords|default:block.super}}{% endblock %}

{% block scripts %}
{{block.super}}
{% compress js %}
<script type="text/javascript" src="{{STATIC_URL}}js/lib/placeholder.js"></script>
<script src="{{STATIC_URL}}js/imagegallery.js" type="text/javascript"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/my_client_say.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/submenu_items.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.history.js"></script>
{% endcompress %}
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
    $(document).ready(function(){
        $.submenu_items("{% url 'submenu-items' %}");
        $(".submenu-block").hover(
        function(){},
        function(){
            $(".submenu-block .submenu-item").removeClass("hovered");
            $(".submenu-block .active").addClass("hovered");
        })

        $(".submenu-item").hover(
            function(){
                $(".submenu-item").removeClass("hovered");
                $(this).addClass("hovered")
            }
        );
        $(".submenu-block").css('min-height', $(".submenu-block").height() + 10 +'px')

        // form placeholder
        $(':input[placeholder]').placeholder();
    });
</script>
<script type="text/javascript">
$(function() {
    var imagegallery = new ImageGallery();
});
</script>

{% if page.slug == 'contacts' or page.slug == 'selected-clients' %}
<script type="text/javascript">
    $(document).ready(function(){
        $.init_testimonials("{% url 'my-client-say' %}");
    });
</script>
{% endif %}

{% endblock %}

{% block content %}
<div id="landing-page">
    <div class="main-content row">

        {% if page.category.slug == 'about' %}
        <!-- Main Content -->
        <div class="span8" id="content-about">
            {% if page.slug == 'design-office' %}
            <div id="design-office">
                {% if page.content1_image %}
                <div class="design-office-image">
                    <img src="{{ page.content1_image.filename.url }}" width="600" alt="{{ page.content1_image.alt_text }}" />
                </div>
                {% endif %}
                {% if page.content1_title %}
                <div id="design-office-title">
                    <h5 class="content-title about-title"><img src="{% if page.menu_image_active %} {{ page.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/design-r.png {% endif %}" width="36px" height="36px"/>
                        {{page.content1_title|safe}}</h5>
                    <div class="design-office-divider-top"></div>
                </div>
                {% endif %}
                <div class="design-office-text text{% if page.content1_image %} with-image{% endif %}">

                    {{page.content1_text|apply_markup}}
                    <h3 class="content-title2">{{page.content2_title|safe}}</h3>
                    {{page.content2_text|apply_markup}}
                    <div class="divider"></div>
                </div>
            </div>

            {% elif page.slug == 'selected-clients' %}
            <div id="selected-clients">
                <div id="selected-clients-title">
                    {% if page.content1_title %}
                    <h5 class="content-title about-title"><img src="{% if page.menu_image_active %} {{ page.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/clients-r.png {% endif %}" width="36px" height="36px"/>
                        {{page.content1_title|safe}}</h5>
                    {% endif %}
                </div>
                    <div class="selected-clients-divider-top"></div>
                    {{page.content1_text|safe}}
                {% if page.content1_image %}
                <div id="selected-clients-images">
                        <img src="{{ page.content1_image.filename.url }}" width="600px" alt="{{image.alt_text}}"/>
                    <div class="selected-clients-divider-images"></div>
                </div>
                {% endif %}

                <div id="selected-clients-columns">
                    <div id="selected-clients-col1">
                        {{page.col1_text|safe}}
                    </div>
                    <div id="selected-clients-col2">
                        {{page.col2_text|safe}}
                    </div>
                </div>
            </div>

            {% elif page.slug == '12-essentials' %}
                <div id="12-essentials-title">
                {% if page.content1_title %}
                <h5 class="content-title about-title essentials"><img src="{% if page.menu_image_active %} {{ page.menu_image_active.filename.url }} {% else %} {{ STATIC_URL }}img/12-r.png {% endif %}" width="36px" height="36px">
                    {{page.content1_title|safe}}</h5>
                {% endif %}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>1</span></div>
                    <h3>{{ page.essential1_title }}</h3>
                    {{ page.essential1_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>2</span></div>
                    <h3>{{ page.essential2_title }}</h3>
                    {{ page.essential2_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>3</span></div>
                    <h3>{{ page.essential3_title }}</h3>
                    {{ page.essential3_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>4</span></div>
                    <h3>{{ page.essential4_title }}</h3>
                    {{ page.essential4_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>5</span></div>
                    <h3>{{ page.essential5_title }}</h3>
                    {{ page.essential5_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>6</span></div>
                    <h3>{{ page.essential6_title }}</h3>
                    {{ page.essential6_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>7</span></div>
                    <h3>{{ page.essential7_title }}</h3>
                    {{ page.essential7_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>8</span></div>
                    <h3>{{ page.essential8_title }}</h3>
                    {{ page.essential8_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>9</span></div>
                    <h3>{{ page.essential9_title }}</h3>
                    {{ page.essential9_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>10</span></div>
                    <h3>{{ page.essential10_title }}</h3>
                    {{ page.essential10_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>11</span></div>
                    <h3>{{ page.essential11_title }}</h3>
                    {{ page.essential11_text|safe}}
                </div>
                <div class="essential-item">
                    <div class="divider"></div>
                    <div class="essential-counter"><span>12</span></div>
                    <h3>{{ page.essential12_title }}</h3>
                    {{ page.essential12_text|safe}}
                </div>


            {% elif page.slug == 'creativity-experience-excellence' %}
            <div id="cee">
                {% if page.content1_title %}
                <div id="cee-title">
                    <h5 class="content-title about-title"><img src="{% if page.menu_image_active %} {{ page.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/cee-r.png {% endif %}" width="36px" height="36px"/>
                        {{page.content1_title|safe}}</h5>
                </div>
                {% endif %}
                {% if page.content1_image %}
                <div id="cee-images">
                    <img src="{{ page.content1_image.filename.url }}" width="600px" alt="{{image.alt_text}}"/>
                </div>
                {% else %}
                    <div class="cee-divider"></div>
                {% endif %}
                {{page.content1_text|safe}}
            </div>

            {% else %}
                <h2 class="content-title">{{page.content1_title|safe}}</h2>
                {{page.content1_text|apply_markup}}

                <h3 class="content-title2">{{page.content2_title|safe}}</h3>
                {{page.content2_text|apply_markup}}
            {% endif %}

            <div class="row" id="info_links">
                <div class="divider-top"></div>
                {% for children in current_menuitem.parent.get_children %}
                {% if children.object.slug == 'design-office' %}
                    <div class="design-link {%if page.slug == 'design-office'%} active {%endif%} ">
                        <img class="top" src="{% if children.object.menu_image_hover %} {{ children.object.menu_image_hover.filename.url }} {% else %} {{STATIC_URL}}img/design-b.png {% endif %}" width="36px" height="36px">
                        <img class="bottom" src="{% if children.object.menu_image_active %} {{ children.object.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/design-r.png {% endif %}" width="36px" height="36px">
                        <a href="{{ children.get_absolute_url }}">{{ children.title }}</a>
                    </div>
                {% elif children.object.slug == 'selected-clients' %}
                    <div class="clients-link {%if page.slug == 'selected-clients'%} active {%endif%} ">
                        <img class="top" src="{% if children.object.menu_image_hover %} {{ children.object.menu_image_hover.filename.url }} {% else %} {{STATIC_URL}}img/clients-b.png {% endif %}" width="36px" height="36px">
                        <img class="bottom" src="{% if children.object.menu_image_active %} {{ children.object.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/clients-r.png {% endif %}" width="36px" height="36px">
                        <a href="{{ children.get_absolute_url }}">{{ children.title }}</a>
                    </div>
                {% elif children.object.slug == '12-essentials' %}
                    <div id="" class="essentials-link {%if page.slug == '12-essentials' %} active {%endif%}  {%if page.slug != 'creativity-experience-excellence' %} border {%endif%}">
                        <img class="top" src="{% if children.object.menu_image_hover %} {{ children.object.menu_image_hover.filename.url }} {% else %} {{STATIC_URL}}img/12-b.png {% endif %}" width="36px" height="36px">
                        <img class="bottom" src="{% if children.object.menu_image_active %} {{ children.object.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/12-r.png {% endif %}" width="36px" height="36px">
                        <a href="{{ children.get_absolute_url }}">{{ children.title }}</a>
                    </div>
                {% elif children.object.slug == 'creativity-experience-excellence' %}
                    <div class="cee-link {%if page.slug == 'creativity-experience-excellence' %} active {%endif%} ">
                        <img class="top" src="{% if children.object.menu_image_hover %} {{ children.object.menu_image_hover.filename.url }} {% else %} {{STATIC_URL}}img/cee-b.png {% endif %}" width="36px" height="36px">
                        <img class="bottom" src="{% if children.object.menu_image_active %} {{ children.object.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/cee-r.png {% endif %}" width="36px" height="36px">
                        <a href="{{ children.get_absolute_url }}">{{ children.title }}</a>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <div class="vertical-divider"></div>
        </div>

        <!-- Sidebar Module -->
        {% if page.slug != 'selected-clients' %}
        {% include "sitepages/modules/awards.html" %}
        {% else %}
        {% include "sitepages/modules/testimonials.html" %}
        {% endif %}

        {% elif page.slug == 'contacts' %}
        <!-- Main Content for contacts page -->
        <div class="span8" id="content-contacts">
            <div id="contacts-top">
                {% if page.content1_image %}
                {% thumbnail page.content1_image.filename "300x300" as thumb %}
                <img id="contacts-image" src="{{thumb.url}}" width="{{thumb.width}}" height="{{thumb.height}}" alt="{{page.content1_image.alt_text}}" />
                {% endthumbnail %}
                {% endif %}
                <div class="text{% if page.content1_image %} with-image{% endif %}">
                    <h2 class="content-title"><img class="title-arrow" src="{% if page.category.menu_image_active %} {{ page.category.menu_image_active.filename.url }} {% else %}{{STATIC_URL}}img/contact-r.png {% endif %}" width="25px" height="25px"/>
                        {{page.content1_title|safe}}</h2>
                    {{page.content1_text|apply_markup}}
                </div>
            </div>

            <div id="contacts-bottom">
                <div class="divider"></div>
                <h3 class="content-title2">{{page.content2_title|safe}}</h3>
                {{page.content2_text|apply_markup}}
            </div>
        </div>
        <!-- Sidebar Module -->
        {% include "sitepages/modules/testimonials.html" %}

        {% else %}
        <!-- Main Content -->
        <div id="content-submenu-block" class="span5">
            <div id="content_changes" >
                <h2 class="content-title">{{page.content1_title|safe}}</h2>
                {{page.content1_text|apply_markup}}

                <h3 class="content-title2">{{page.content2_title|safe}}</h3>
                {{page.content2_text|apply_markup}}
            </div>

            {% if current_menuitem.parent.object.sitepage_set.all.count > 1 %}
            <div class="content-changing">
                <p class="explore">EXPLORE</p>
                <div class="submenu-block">
                {% for child in current_menuitem.parent.get_children %}
                {% with child_page=child.object %}
                <div class="submenu-item {% if page.slug == child_page.slug %} active hovered {% else %} noactive {% endif %}">
                    <hr class="overline">
                    <a data-slug="{{ child_page.slug }}" class="class_submenu_items" href="{{ child.get_absolute_url }}">{{ child_page }}</a><br>
                    <p class="headline">{{ child_page.headline }}</p>
                    <hr class="underline">
                </div>
                {% endwith %}
                {% endfor %}
                </div>
                <div id="empty-submenu-divider"></div>
            </div>
            {% endif %}
        </div>

        <div class="span7">
            <!-- Image Gallery -->
            <div id="image-gallery" class="image-gallery">
                {% for image in page.images.published %}
                {% thumbnail image.filename "540x430" as thumb %}
                <img src="{{thumb.url}}" width="{{thumb.width}}" height="{{thumb.height}}" {% if forloop.first %}class="active"{% endif %} alt="{{image.alt_text}}"/>
                {% endthumbnail %}
                {% endfor %}
                {% for image in page.images.published %}
                    <div class="image-caption">{{ image.caption|safe }}</div>
                {% endfor %}
                <div class="nav"></div>
            </div>

        </div>
        {% endif %}
    </div>

    {% if page.slug != 'contacts'  %}
    <div id="secondary-divider" class="divider"></div>
    <div id="secondary_content" class="secondary-content{% if contact_form %} with-contact_form{% endif %}">
        <div class="contact">
            {% if page.content3_image %}
            {% thumbnail page.content3_image.filename "140x120" as thumb %}
            <img src="{{thumb.url}}" width="{{thumb.width}}" height="{{thumb.height}}" alt="{{page.content3_image.alt_text}}" />
            {% endthumbnail %}
            {% endif %}
            <div class="text{% if page.content3_image %} with-image{% endif %}">
                <h3 class="content-title3">{{page.content3_title|safe}}</h3>
                {{page.content3_text|apply_markup}}
            </div>
            {% if contact_form %}
            <script type="text/javascript">
                $(function() {
                {% if contact_form.errors %}
                    window.location.hash = '#contact-form';
                {% else %}
                    if (window.location.hash == '#contact-form') {
                        alert("Thank you for your message!");
                    }
                {% endif %}
                });
            </script>
            <form id="contact-form" action="" method="post" class="form small">
                {% csrf_token %}
                {% spaceless %}
                {% for field in contact_form %}
                <div id=""class="control-group field-{{field.name}}{% if field.errors %} error{% endif %}">
                {{field}}
                </div>
                {% endfor %}
                {% endspaceless %}
                <button type="submit" class="btn">submit &gt;</button>
            </form>
            {% endif %}
        </div>

        <div class="message">
            <h4>{{page.content4_title|safe}}</h4>
            {{page.content4_text|apply_markup}}
        </div>

        <div class="divider"></div>
    </div>
    {% endif %}
</div>
{% if page.slug == 'contacts'  %}
<div id="secondary-divider" class="divider"></div>
{% endif %}
{% endblock %}
